@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@keyframes blendin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

html {
    font-size: 16px; /* Basisgröße */
    scroll-behavior: smooth;
    color: white;
}

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    animation: blendin 3s ease-in-out forwards;
    background: linear-gradient(to bottom, #32533d 0%, #1e3a27 25%, #0e291d 50%, #052617 75%, #011a10 100%);
    font-size: 1rem; /* Basisgröße */
}

#text {
    font-size: 5vw; /* Dynamische Größe basierend auf der Breite des Viewports */
    background: linear-gradient(45deg, #4a90e2, #8a2be2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    padding: 10px 20px;
    margin: 0 auto;
    max-width: 90%;
    box-shadow: 0 5px 40px rgba(255, 255, 255, 0.2);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 2rem; /* Große Schrift für Desktop */
    transition: text-shadow 500ms;
}

.navbar ul li a:hover {
    color: white;
    text-shadow: 0 5px 20px;
    transition: text-shadow 500ms;
}

.mach-mit-box {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 80%;
}

.heading {
    color: white;
    font-size: 4rem; /* Große Schrift für Desktop */
    text-align: center;
    background: linear-gradient(45deg, #4a90e2, #8400ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paragraph {
    color: white;
    font-size: 1.5rem; /* Standardgröße */
    padding: 0 10%;
    text-align: center;
}

.video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

video {
    width: 100%;
    display: block;
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.video-overlay:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.video-overlay .play-button {
    font-size: 32px;
}

.test {
    margin: 0 10%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: white;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.25rem; /* Standardgröße */
    text-align: center;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-sizing: border-box;
    font-size: 1rem;
    color: black;
    text-align: center;
}

button {
    width: 100%;
    padding: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem; /* Standardgröße */
    transition: background-color 0.5s;
}

button:hover {
    background-color: #218838;
    transition: background-color 0.5s;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

.navimage {
    display: inline;
    width: 30px;
    height: auto;
    margin: 0;
    padding: 0;
}

.navlink {
    padding: 0 !important;
}

.small {
    font-size: 2.5rem; /* Standardgröße */
}

.smaller {
    font-size: 2rem; /* Standardgröße */
    text-align: center;
}

.x-small {
    font-size: 1.5rem; /* Standardgröße */
    text-align: center;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

@media (max-width: 768px) {
    html {
        font-size: 14px; /* Kleinere Basisgröße auf Handys */
    }

    body {
        font-size: 0.9rem;
    }

    .heading {
        font-size: 2.5rem; /* Kleinere Schrift auf Handys */
    }

    .paragraph {
        font-size: 1rem; /* Kleinere Schrift auf Handys */
    }

    .navbar ul li a {
        font-size: 1.6rem; /* Kleinere Schriftgröße auf Handys */
    }

    button {
        font-size: 1rem; /* Kleinere Schrift auf Handys */
    }

    .navbar ul {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 999;
    }

    .navbar ul.show {
        display: flex;
        animation: slideIn 0.5s forwards;
    }

    .hamburger-menu {
        display: flex;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
